ColumnLimit: 0

UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: All
Cpp11BracedListStyle: false

BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true

PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignTrailingComments: true

SpaceAfterCStyleCast: false
